.title {
    margin-top: 115px;
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 24px;
    color: #243350;
}

.flex {
    display: flex;
}

.mr22 {
    margin-right: 22px;
}

.switch {
    height: 36px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border: 1px solid #227AFF;
    background-color: #DDECFF;
    border-radius: 100px;
    svg {
        margin-left: 8px;
        margin-top: 3px;
        transition: all 0.2s ease;
    }
    &:hover {
        cursor: pointer;
    }
}


.checkbox {
    padding-left: 300px;
}

.more {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    &:hover {
        cursor: pointer;
    }
}

.top {
    display: flex;
    margin-top: 50px;
    height: 50px;
    .left {
        height: 100%;
        width: 138px;
        display: flex;
        align-items: center;
        padding-left: 15px;
        background-color: #F6FAFF;
        border-radius: 10px 0 0 0;
        border-bottom: 1px solid #E6E6E6;
        border-right: 1px solid #E6E6E6;
        p {
            margin-left: 10px;
            font-weight: 400;
            font-size: 12px;
            color: #5F7289;
        }
    }
    .right {
        height: 100%;
        width: 862px;
        display: flex;
        align-items: center;
        border-radius: 0 10px 0 0;
        border-bottom: 1px solid #E6E6E6;
        background-color: #F6FAFF;
    }
}

.sortType {
    display: flex;
    padding: 0 30px;
    align-items: center;
    p {
        color: #5F7289;
        font-weight: 400;
        font-size: 12px;
    }
    svg {
        cursor: pointer;
    }
    .arrowSvg {
        margin-left: 12px;
        width: 11px;
        height: 6px;
    }
    .burgerSvg {
        margin-left: 18px;
        width: 12px;
        height: 12px;
    }
}

.content {
    // margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.item {
    height: 60px;
    background-color: #F6FAFF;
    &:nth-child(even) {
        background-color: #EFF6FF;
    }
    display: flex;
    .left {
        display: flex;
        padding-left: 15px;
        width: 138px;
        height: 100%;
        align-items: center;
        border-right: 1px solid #E6E6E6;
        .pic {
            width: 40px;
            height: 40px;
            margin-left: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #FFFFFF;
            box-shadow: 0px 4px 25px rgba(98, 98, 98, 0.07);
            border-radius: 8px;
            img {
                width: 32px;
            }
        }
    }
    .right {
        display: flex;
        align-items: center;
        .textContent {
            font-weight: 400;
            font-size: 12px;
            color: #2E3B50;
            padding: 0 30px;
        }
    }
}

.line {
    width: 1000px;
    height: 12px;
    margin-top: 15px;
    background-color: #227AFF;
    border-radius: 10px;
}