.toggleSwitch {
    display: flex;
    height: 36px;
    align-items: center;

    input[type=checkbox]{
        height: 0;
        width: 0;
        visibility: hidden;
    } 
    
    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 45px; // ширина фон
        height: 18px; // высота фон
        transition: background 0.1s ease;
        background: #fff; // цвет не актив
        display: block;
        border-radius: 100px;
        position: relative;
        box-shadow: 0px 0px 20px rgba(145, 145, 145, 0.25);
        &.active {
            background: #227AFF;
            &:after {
                background-color: #fff;
                left: calc(100% - 2px);
                transform: translateX(-100%);
            }
        }
    }

    // label:active:after {
    //     width: 20px; // ширина, если зажать ЛКМ
    // }
    
    label:after {
        content: '';
        position: absolute;
        top: 2px; // внутренние отступы круга
        left: 2px; // внутренние отступы круга
        width: 14px; // сам круг
        height: 14px; // сам круг
        background: #227AFF;
        border-radius: 90px;
        transition: 0.3s;
    }
}