.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding-right: 40px;
    a {
        border-bottom: 1px solid #243350;
        color:#243350;
        font-size: 14px;
        font-weight: 400;
    }
}

.name {
    font-weight: 400;
    font-size: 20px;
    color:#243350;
}

.item {
    margin-top: 10px;
    p {
        margin-top: 4px;
        padding-left: 16px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        padding-right: 20px;
    }
}

.notifications {
    margin-top: 22px;
    max-height: 250px;
    overflow-y: auto;
    scrollbar-width: thin;        
    scrollbar-color: #227AFF #D6DFED;
}

.notifications::-webkit-scrollbar {
    width: 5px;
}

.notifications::-webkit-scrollbar-track {
    background: #D6DFED;
    border-radius: 20px; 
  }
.notifications::-webkit-scrollbar-thumb {
    background-color: #227AFF; 
    border-radius: 20px;      
}


.time {
    font-weight: 400;
    color: #5F7289;
    span {
        color: #000;
        margin-right: 8px;
    }
}