.svgFill {
    fill: black;
    transition: all .3s ease;
}
.svgStroke {
    stroke: black;
    transition: all .3s ease;
}

.svg3 {
    margin-left: 5px;
}

@keyframes liIn {
    0%{
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.name {
    opacity: 0;
    width: 0;
    // display: none;
    margin-left: 5px;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    transition: all 0.25s ease;
    min-width: 130px;
    position: relative;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-580px);  // половина контейнера
    z-index: 10;
    width: 110px;
    transition: all .4s ease;
    &.active {
        width: 310px;
        .name {
            width: auto;
            animation: liIn 0.4s ease;
            opacity: 1;
        }
    } 
    height: 100%;
    // background-color: azure;
    display: flex;
    flex-direction: column; 
    align-items: start;
    padding-top: 50px;
    border-right: 1px solid #D9E0EA;
    background-color: #fff;
}

.ul {
    opacity: 0;
    height: 0;
    transition: all 0.3s ease;
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    margin-top: 12px;
    a {
        color: #000;
    }
    li {
        line-height: 22px;
        min-width: 170px;
    }
}

.logo {
    font-weight: 500;
    font-size: 30px;
    color: #000;
    text-align: center;
    margin-bottom: 60px;
    &:hover {
        cursor: pointer;
    }
}

.sidebarItemWrapper {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.icon {
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: all .3s ease;
    .svg-3 {
        margin-left: 5px;
    }
    &:hover {
        cursor: pointer;
    }
}


.item {
    margin-top: 0;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    &:hover {
        cursor: pointer;
    }
    &.active {
        margin-top: 15px;
        margin-bottom: 25px;
        .icon {
            background-color: #227AFF;
            .svgFill {
                fill: #fff;
            }
            .svgStroke {
                stroke: #fff;
            }
            filter: drop-shadow(0px 8px 15px rgba(34, 122, 255, 0.25));
        }
        .name {
            color: #227AFF;
            margin-left: 25px;
        }
        .ul {
            height: auto;
            opacity: 1;
        }
    }
    &:last-child {
        &.active {
            margin-bottom: 0;
        }
    }
    &:first-child {
        &.active {
            margin-top: 0;
        }
    }
}