.wrapper {
    margin-top: 25px;
}

.title {
    font-weight: 500;
    font-size: 24px;
    color: #243350;
}

.filters {
    width: 940px;
    margin-top: 50px;
    padding: 30px 34px;
    display: flex;
    flex-wrap: wrap;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    justify-content: space-between;
    &.p30 {
        padding: 30px;
    }
}

.switchFilter {
    margin: 0 4px;
    margin-bottom: 20px;
    height: 36px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 100px;
    border: 1px solid #227AFF;
    background-color: #DDECFF;
    position: relative;
    &.active {
        .filterSvg {
            transform: rotate(-180deg);
        }
    }
    p {
        font-weight: 400;
        font-size: 14px;
        color: #243350;
    }
    .filterSvg {
        margin-top: 2px;
        margin-left: 10px;
        transition: all 0.2s ease;
    }
    &:hover {
        cursor: pointer;
    }
}

.filterItemSvg {
    margin-top: 2px;
    margin-left: 10px;
    transition: all 0.2s ease;
}

.filterPopup {
    opacity: 0;
    pointer-events: none; 
    transition: all 0.1s ease;
    &.active {
        opacity: 1;
        pointer-events: all;
    }
    position: absolute;
    z-index: 2;
    top: calc(100% + 10px);
    right: -2px;
    background-color: #fff;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    padding: 10px;
    width: max-content;
    &.justifyStart {
        div {
            justify-content: flex-start;
        }
    }
    &.justifySB {
        div {
            justify-content: space-between;
        }
    }
    &.thin {
        p {
            height: 30px;
        }
    }
    p {
        font-weight: 400;
        font-size: 14px;
        color: #000;
        height: 36px;
        padding: 0 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-radius: 100px;
        border: 1px solid #227AFF;
        background-color: #DDECFF;
        margin-bottom: 7px;
        position: relative;
        &:last-child {
            margin-bottom: 0;
        }
        img {
            margin-right: 8px;
            width: 22px;
        }
    }
    .myFilterBtn {
        color: #FFFFFF;
        height: 30px;
        padding: 0 16px;
        border: none;
        border-radius: 100px;
        background-color: #227AFF;
        font-weight: 400;
        font-size: 12px;
        &:hover {
            cursor: pointer;
        }
    }
}

.newFilter {
    position: fixed;
    z-index: 5;
    padding: 20px 30px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #fff;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        font-weight: 500;
        font-size: 16px;
        color: #2E3B50;
    }
    label {
        margin-top: 14px;
        font-weight: 400;
        font-size: 14px;
        color: #5F7289;
    }
    input {
        border: 1px solid #DADFE9;
        padding: 8px;
        border-radius: 10px;
        width: 245px;
        font-weight: 400;
        font-size: 14px;
        color: #5F7289;
        margin-left: 26px;
    }
    .saveFilter, .noSaveFilter {
        height: 27px;
        border: 1px solid #227AFF;
        font-size: 12px;
        font-weight: 400;
        border-radius: 100px;
        padding: 0 12px;
        &:hover {
            cursor: pointer;
        }
    }
    div {
        margin-top: 26px;
    }
    .saveFilter {
        margin-right: 14px;
        background: #227AFF;
        color: #fff;
    }
    .noSaveFilter {
        background: #fff;
        color: #000;
    }
}

.filterItemChange {
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s ease;
    &.active {
        opacity: 1;
        pointer-events: all;
    }
    position: absolute;
    z-index: 3;
    top: calc(100% - 3px);
    left: 130px;
    width: max-content;
    padding: 14px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    .change, .delete {
        width: 100%;
        border: 1px solid #227AFF;
        border-radius: 100px;
        padding: 4px 16px;
        font-weight: 400;
        font-size: 12px;
        position: relative;
        &:hover {
            cursor: pointer;
        }
    }
    .change {
        background-color: #227AFF;
        color: #fff;
    }
    .delete {
        margin-top: 10px;
        color: #E12639;
        background-color: #fff;
    }
}

.confirm {
    position: absolute;
    top: calc(100% + 6px);
    right: 0;
    display: flex;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    .yes, .no {
        font-weight: 400;
        font-size: 12px;
        border: 1px solid #227AFF;
        border-radius: 100px;
        padding: 4px 14px;
        &:hover {
            cursor: pointer;
        }
    }
    .yes {
        background-color: #227AFF;
        color: #fff;
        margin-right: 8px;
    }
    .no {
        background-color: #fff;
        color: #000;
    }
}







