.wrapper {
    margin-top: 25px;
}

.title {
    font-weight: 500;
    font-size: 24px;
    color: #243350;
}

.filters {
    width: 940px;
    margin-top: 50px;
    padding: 30px 34px;
    display: flex;
    flex-wrap: wrap;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    justify-content: space-between;
}

.switchFilter {
    margin: 0 4px;
    margin-bottom: 20px;
    height: 36px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 100px;
    border: 1px solid #227AFF;
    background-color: #DDECFF;
    position: relative;
    &.active {
        .filterSvg {
            transform: rotate(-180deg);
        }
    }
    p {
        font-weight: 400;
        font-size: 14px;
        color: #243350;
    }
    .filterSvg {
        margin-top: 2px;
        margin-left: 10px;
        transition: all 0.2s ease;
    }
    &:hover {
        cursor: pointer;
    }
}

.filterItemSvg {
    margin-top: 2px;
    margin-left: 10px;
    transition: all 0.2s ease;
}

.filterPopup {
    opacity: 0;
    pointer-events: none; 
    transition: all 0.1s ease;
    &.active {
        opacity: 1;
        pointer-events: all;
    }
    position: absolute;
    z-index: 2;
    top: calc(100% + 10px);
    right: 0;
    background-color: #fff;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    padding: 10px;
    width: max-content;
    &.justifyStart {
        div {
            justify-content: flex-start;
        }
    }
    &.justifySB {
        div {
            justify-content: space-between;
        }
    }
    &.thin {
        p {
            height: 30px;
        }
    }
    p {
        font-weight: 400;
        font-size: 14px;
        color: #000;
        height: 36px;
        padding: 0 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-radius: 100px;
        border: 1px solid #227AFF;
        background-color: #DDECFF;
        margin-bottom: 7px;
        position: relative;
        &:last-child {
            margin-bottom: 0;
        }
        img {
            margin-right: 8px;
            width: 22px;
        }
    }
    .myFilterBtn {
        color: #FFFFFF;
        height: 30px;
        padding: 0 16px;
        border: none;
        border-radius: 100px;
        background-color: #227AFF;
        font-weight: 400;
        font-size: 12px;
        &:hover {
            cursor: pointer;
        }
    }
}

.newFilter {
    position: fixed;
    z-index: 5;
    padding: 20px 30px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #fff;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        font-weight: 500;
        font-size: 16px;
        color: #2E3B50;
    }
    label {
        margin-top: 14px;
        font-weight: 400;
        font-size: 14px;
        color: #5F7289;
    }
    input {
        border: 1px solid #DADFE9;
        padding: 8px;
        border-radius: 10px;
        width: 245px;
        font-weight: 400;
        font-size: 14px;
        color: #5F7289;
        margin-left: 26px;
    }
    .saveFilter, .noSaveFilter {
        height: 27px;
        border: 1px solid #227AFF;
        font-size: 12px;
        font-weight: 400;
        border-radius: 100px;
        padding: 0 12px;
        &:hover {
            cursor: pointer;
        }
    }
    div {
        margin-top: 26px;
    }
    .saveFilter {
        margin-right: 14px;
        background: #227AFF;
        color: #fff;
    }
    .noSaveFilter {
        background: #fff;
        color: #000;
    }
}

.filterItemChange {
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s ease;
    &.active {
        opacity: 1;
        pointer-events: all;
    }
    position: absolute;
    z-index: 3;
    top: calc(100% - 3px);
    left: 130px;
    width: max-content;
    padding: 14px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    .change, .delete {
        width: 100%;
        border: 1px solid #227AFF;
        border-radius: 100px;
        padding: 4px 16px;
        font-weight: 400;
        font-size: 12px;
        position: relative;
        &:hover {
            cursor: pointer;
        }
    }
    .change {
        background-color: #227AFF;
        color: #fff;
    }
    .delete {
        margin-top: 10px;
        color: #E12639;
        background-color: #fff;
    }
}

.confirm {
    position: absolute;
    top: calc(100% + 6px);
    right: 0;
    display: flex;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    .yes, .no {
        font-weight: 400;
        font-size: 12px;
        border: 1px solid #227AFF;
        border-radius: 100px;
        padding: 4px 14px;
        &:hover {
            cursor: pointer;
        }
    }
    .yes {
        background-color: #227AFF;
        color: #fff;
        margin-right: 8px;
    }
    .no {
        background-color: #fff;
        color: #000;
    }
}

.searchName {
    height: 36px;
    width: 122px;
    background: #FFFFFF;
    border: 1px solid #DADFE9;
    border-radius: 10px;
    padding: 8px 10px;
    font-weight: 400;
    font-size: 12px;
    margin: 0 4px;
    margin-bottom: 20px;
    color: #5F7289;
    &::placeholder {
        color: #5F7289;
        border-bottom: 1px solid #5F7289;
    }
}

.downloadSearch {
    margin: 0 4px;
    margin-bottom: 20px;
    height: 36px;
    background: #227AFF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    &:hover {
        cursor: pointer;
    }
}

.textAreaFilter {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    font-size: 14px;
    line-height: 26px;
    color: #5F7289;
    margin: 0 4px;
    margin-bottom: 20px;
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        bottom: 9px;
        height: 1px;
        background-color: #5F7289;
    }
    &:hover {
        cursor: pointer;
    }
    .popup {
        position: absolute;
        z-index: 2;
        top: calc(100% + 10px);
        left: 40%;
        opacity: 0;
        width: max-content;
        pointer-events: none;
        transition: all 0.1s ease;
        background: #FFFFFF;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.07);
        border-radius: 20px;
        padding: 10px 16px;
        p {
            font-weight: 400;
            font-size: 12px;
            color: #000;
        }
        textarea {
            margin-right: 10px;
            width: 100%;
            min-width: 125px;
            min-height: 115px;
            max-width: 410px;
            max-height: 450px;
            border: 1px solid #227AFF;
            border-radius: 10px;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: #000;
            padding: 6px 10px;
        }
        textarea::-webkit-resizer {
            background: url('../../assets/svg/textarea-resize.svg') no-repeat;
        }
    }
    &.active {
        .popup {
            opacity: 1;
            pointer-events: all;
        }
    }
}

.searchByName {
    position: relative;
    height: 36px;
    margin: 0 4px;
    margin-bottom: 20px;
    width: 265px;
    input {
        height: 100%;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #DADFE9;
        border-radius: 10px;
        font-weight: 400;
        font-size: 14px;
        color: #5F7289;
        padding-left: 42px;
        padding-right: 14px;
    }
    svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 18px;
    }
}

.rangeFilter {
    margin: 0 4px;
    margin-bottom: 20px;
    height: 36px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    color: #2E3B50;
    input {
        text-align: center;
        height: 100%;
        margin: 0 6px;
        width: 68px;
        padding: 8px 12px;
        font-weight: 400;
        font-size: 14px;
        color: #243350;
        background: #DDECFF;
        border: 1px solid #227AFF;
        border-radius: 150px;
        &:last-child {
            margin-right: 0;
        }
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.startSearch {
    width: 100%;
    height: 42px;
    margin-top: 8px;
    .start {
        width: 100%;
        height: 100%;
        background: #227AFF;
        border-radius: 20px;
        border: 1px solid #227AFF;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        &:hover {
            cursor: pointer;
        }
    }
    .await {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 42px;
        background: #FFFFFF;
        border: 1px solid #227AFF;
        border-radius: 20px;
        font-weight: 400;
        font-size: 16px;
        color: #2E3B50;
        p {
            &:hover {
                cursor: pointer;
            }
        }
        svg {
            margin-left: 15px;
            animation: rotation 2s linear infinite;
        }
        .progress {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #227AFF;
            border-radius: 18px;
            height: 100%;
            font-weight: 400;
            font-size: 16px;
            color: #fff;
        }
        .restart {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            font-weight: 400;
            font-size: 14px;
            color: #fff;
            background: #227AFF;
            border: 1px solid #227AFF;
            border-radius: 60px;
            padding: 4px 22px;
            &:hover {
                cursor: pointer;
            }
        }
        .restartSet {
            position: absolute;
            left: 50%;
            top: calc(100% + 8px);
            transform: translateX(-50%);
            padding: 16px 4px;
            background: #FFFFFF;
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.07);
            border-radius: 20px;
            p {
                text-align: center;
                font-weight: 500;
                font-size: 16px;
                color: #2E3B50;
            }
            .buttons {
                display: flex;
                align-items: center;
                margin-top: 16px;
                button {
                    margin: 0 10px;
                    background: #227AFF;
                    border-radius: 60px;
                    border: 1px solid#227AFF;
                    padding: 8px 16px;
                    font-weight: 400;
                    font-size: 12px;
                    color: #fff;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}