svg.svg-fill {
    fill: black;
    transition: all .3s ease;
}
svg.svg-stroke {
    stroke: black;
    transition: all .3s ease;
}

.sidebar-item {
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-bottom: 10px;
    transition: all .3s ease;
    .svg-3 {
        margin-left: 5px;
    }
    &:hover {
        cursor: pointer;
    }
    &.active {
        background-color: #227AFF;
        svg.svg-fill {
            fill: #fff;
        }
        svg.svg-stroke {
            stroke: #fff;
        }
        margin-top: 15px;
        margin-bottom: 25px;
    }
    &:last-child {
        &.active {
            margin-bottom: 0;
        }
    }
    &:first-child {
        &.active {
            margin-top: 0;
        }
    }
}